body{
    background-color: grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.key{
    border: 3px solid black;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    width: 74px;
    height: 74px;
    padding: 5px;
    margin-top: 20%;
    margin-left: 30px;
    border-radius: 6px;
    text-align: center;
    transition: all 0.07s;
}
.key p{
    font-size: 1.5em;
    margin: 12px auto;
    padding-top: 5px;

}
.key span{
    font-size: 1em;
    color: gold;
}
.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}